<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Styleguide Lite</title>
    #html-include=styleguide/includes/css.html
  </head>
  <body class="styleguide">
    <header class="main-header">
      <h1 class="site-title">Mozilla Styleguide</h1>
    </header>

    #html-include=styleguide/includes/navigation.html

    <main class="main-content" role="main" tabindex="-1">
      <h2>Headings</h2>

      <section id="h1">
        <div class="sample-container">
          <h1>Level one heading</h1>
        </div>

        <aside class="code-sample show">
          <h4>HTML</h4>
<pre>
<code class="language-markup">
&lt;h1>Level one heading&lt;/h1>
</code>
</pre>
        </aside>
      </section>

      <section id="h2">
        <div class="sample-container">
          <h2>Level two heading</h2>
        </div>

        <aside class="code-sample show">
          <h4>HTML</h4>
<pre>
<code class="language-markup">
&lt;h2>Level two heading&lt;/h2>
</code>
</pre>
        </aside>
      </section>

      <section id="h3">
        <div class="sample-container">
          <h3>Level three heading</h3>
        </div>

        <aside class="code-sample show">
          <h4>HTML</h4>
<pre>
<code class="language-markup">
&lt;h3>Level three heading&lt;/h3>
</code>
</pre>
        </aside>
      </section>

      <section id="h4">
        <div class="sample-container">
          <h4>Level four heading</h4>
        </div>

        <aside class="code-sample show">
          <h4>HTML</h4>
<pre>
<code class="language-markup">
&lt;h4>Level four heading&lt;/h4>
</code>
</pre>
        </aside>
      </section>

      <section id="h5">
        <div class="sample-container">
          <h5>Level five heading</h5>
        </div>

        <aside class="code-sample show">
          <h4>HTML</h4>
<pre>
<code class="language-markup">
&lt;h5>Level five heading&lt;/h5>
</code>
</pre>
        </aside>
      </section>

      <section id="h6">
        <div class="sample-container">
          <h6>Level six heading</h6>
        </div>

        <aside class="code-sample show">
          <h4>HTML</h4>
<pre>
<code class="language-markup">
&lt;h6>Level six heading&lt;/h6>
</code>
</pre>
        </aside>
      </section>
    </main>

    #html-include=styleguide/includes/footer.html

    #html-include=styleguide/includes/js.html
  </body>
</html>
