<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Styleguide Lite</title>
    #html-include=styleguide/includes/css.html
  </head>
  <body class="styleguide">
    <header class="main-header">
      <h1 class="site-title">Mozilla Styleguide</h1>
    </header>
    #html-include=styleguide/includes/navigation.html
    <main class="main-content" role="main" tabindex="-1">
      <h2>Feed me Malcolm, feed me!</h2>
    </main>
    #html-include=styleguide/includes/footer.html
    #html-include=styleguide/includes/js.html
  </body>
</html>
