* {
    box-sizing: border-box;
}

html,
body {
    background-color: #f9f9f9;
    color: #333;
}

.styleguide .wrapper {
    position: relative;
    width: 100%;
}

.styleguide .main-header {
    background-color: #F2F2F2;
    padding: 20px;
}

.styleguide .site-title {
    margin-bottom: 40px;
}

.styleguide .page-title {
    font-size: 2.5rem;
    padding-bottom: .25em;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.styleguide .nav-main {
    display: inline-block;
    padding: 20px;
    width: 25%;
    max-width: 280px;
    font-size: 1rem;
    vertical-align: top;
}

.styleguide .nav-main a:link,
.styleguide .nav-main a:visited {
    display: block;
    color: #333;
    padding: 0 20px;
}

.styleguide .nav-main a.active:link,
.styleguide .nav-main a.active:visited {
    background-color: #666;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color .5s;
}

.styleguide .nav-main a.active:hover {
    background-color: #8C8C8C;
    color: #fff;
    text-decoration: none;
}

.styleguide .nav-main a.active:focus {
    background-color: #8C8C8C;
    color: #fff;
    text-decoration: underline;
}

.styleguide .nav-main header {
    position: absolute!important;
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0;
    border: 0;
}

.styleguide .nav-main ol,
.styleguide .nav-main ul {
    list-style: none;
}

.styleguide .nav-main li {
    margin-left: 0;
    padding: 0 0 10px 0;
}

.styleguide .main-content {
    display: inline-block;
    padding: 20px;
    width: 70%;
    vertical-align: top;
}

.styleguide .main-content:focus {
    outline: none;
}

.styleguide .sample-container {
    margin: 20px 0;
}

.styleguide .code-sample {
    margin-bottom: 40px;
}

.styleguide .code-sample h4 {
    font-size: .75rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;
    color: #999;
}

.styleguide footer {
    margin: 1em 0 0;
    padding: 40px 20px;
    width: 100%;
}

.styleguide .footer-nav {
    list-style: none;
}

.styleguide .footer-nav li {
    display: inline;
    margin-left: 0;
}

.styleguide .footer-nav li a {
    display: inline-block;
    margin-right: 20px;
}

.styleguide .footer-license p {
    margin-bottom: 10px;
}

.moz-accordion-header > a {
    display: block;
}

/* accordion styles */
.moz-accordion-header ul {
    margin: 10px 0 0 20px;
}

/* code samples style */
pre[class*="language-"] {
    padding: 0 20px;
    border: 10px solid #fff;
    box-shadow:2px 2px 10px #edecec;
}

@media screen and (max-width: 440px) {
    .styleguide .nav-main,
    .styleguide .main-content {
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }
}
